@charset "utf-8";

body {
  margin: 0 auto;
  padding: 0;
}

.birthday-form {
  margin-top: 5%;
  font-size: 1.35rem;
  text-align: center;
}

.birthday-form fieldset {
  display: inline-block;
  border: 1px solid #000000;
  padding: 1.5em;
}

.birthday-form legend {
  padding: 1em;
  font-weight: bold;
}

.calculate-btn {
  margin-top: 4%;
}

.result-block {
  margin-top: 10%;
}
.result-block span {
    color: #b62e2e;
}
